/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Contenedor principal del formulario */
.form-container {
    position: absolute;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    align-items: center;

}

.card-container {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-10%, -10%);
    width: 100%;
    max-width: 500px;
    justify-content: center;
    align-items: center;

    
}

/* Tarjeta de alternancia */
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding: 20px;
    width: 100%;
    max-width: 3000px;
    margin: 10px;
    text-align: center;
    position: absolute;
    transition: transform 1s ease;
}

/* Formulario envuelto */
.form-wrapper {
    position: relative; /* Ubicación fija en la ventana */
    width: 100%;
    max-width: 300px;
    transition: transform 1s ease;
}

/* Contenedor de alternancia */
#toggle-content {
    display: flex;
    justify-content: space-between; /* Para que los botones se distribuyan con espacio entre ellos */
    gap: 150px; /* Espacio opcional entre los botones */
}

#toggle-content > div {
    flex: 1; /* Para que ambos botones ocupen el mismo ancho */
    text-align: center; /* Para centrar el texto dentro de cada botón */
}


/* Estilos del formulario */
.form {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 350px;
    transition: transform 2s ease-in-out ;
    vertical-align:middle;
}

/* Formularios ocultos por defecto */
.form.hidden {
    pointer-events: none; 
    visibility: hidden;
    transition: transform 0.5s ease, visibility 0s 0.5s; /* El retraso en visibility coincide con la duración de transform */
}
/* Formularios visibles */
.form.show {
    pointer-events: auto;
    visibility: visible;
    transition: transform 0.5s ease; /* Transición solo en el desplazamiento */
}

/* Campos de entrada */
input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botón de envío */
button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button.active {
    color: #007bff;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 768px) { /* Ajusta el ancho según tus necesidades */

    .form-wrapper {
        position: relative;
        width: 300px; /* Asegúrate de que ocupe todo el ancho disponible */
    }
    .form {
        position: relative;
        top: 0;
        width: 470px; /* Asegúrate de que el formulario ocupe todo el ancho del contenedor */
        height: auto; /* Ajusta la altura según el contenido */

    }

    #toggle-content {
        flex-direction: column; /* Cambia a una disposición vertical */
        gap: 100px; /* Ajusta el espacio entre los botones */
        align-items: center; /* Centra los elementos horizontalmente */
    }

}


